* {
    font-family: "Pixelify Sans", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(icone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

footer {
    position:fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 10px;
}